html,
body {
  overflow-x: hidden;
  overflow-y: auto;
}

p {
  font-family: "Playfair Display";
  color: black;
}

input {
  border: 1px solid;
  border-radius: 10px;
  border-color: black;
  background-color: transparent;
  height: 28px;
  width: 300px;
  color: black;
  outline: none;
  padding-left: 15px;
  padding-top: 4px;
  padding-bottom: 2px;
}

.input-error {
  border-color: red;
}

.input-error:focus {
  border-width: 2px;
}

.error-message {
  color: red;
  font-size: 12px;
  margin-top: 4px;
  margin-bottom: 0px;
}

.error-message-2 {
  color: red;
  font-size: 11px;
  margin-top: 4px;
  margin-bottom: -10px;
}

input:focus {
  border-width: 2px;
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px transparent inset !important;
  -webkit-text-fill-color: black !important;
  transition: background-color 5000s ease-in-out 0s;
}

input::placeholder {
  color: rgba(0, 0, 0, 0.65);
  font-family: "Playfair Display";
}

select {
  border: 1px solid;
  border-radius: 10px;
  border-color: black;
  background-color: transparent;
  width: 320px;
  height: 35.5px;
  color: black;
  outline: none;
  padding-left: 15px;
  padding-top: 4px;
  padding-bottom: 2px;
}

.select-error {
  border-color: red;
}

.select-error option {
  background-color: black;
  color: white;
}

.business-type-drop-down option,
.city-drop-down option,
.city-drop-down-error option {
  background-color: black;
  color: white;
}

.organizer-reg-main-window {
  background: linear-gradient(to right, #FFF9BE 8%, #FFA9F9 94%);
  min-height: 100vh;
  width: 100vw;
  overflow-x: hidden;
  display: flex;
  flex-wrap: wrap;
  padding-left: 5vw;
  gap: 13vw;
  padding-bottom: 10vh;
  align-items: center;
  box-sizing: border-box;
}

.organizer-reg-left-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 8vw;
  margin-bottom: 80px;
}

.organizer-reg-img {
  height: 55vh;
}

.organizer-reg-right-section {
  display: flex;
  flex-direction: column;
  border-radius: 18px;
  border: 5px solid transparent;

  background:
    /* Layer 1 */
    linear-gradient(to right, #fecde2 30%, #ffb8f6 100%) padding-box,

    /* Layer 2 */
    linear-gradient(180deg, #E487B0 6%, #D2B7F2 18%, #A874DD 40%, #7E49F0 64%, #6FA0D6 100%) border-box;

  background-origin: border-box;
  background-clip: padding-box, border-box;

  padding-left: 40px;
  padding-right: 45px;
  padding-top: 30px;
  padding-bottom: 40px;
}

.organizer-reg-backBtn-title-div {
  display: flex;
  align-items: center;
  gap: 1vw;
}

.organizer-reg-back-btn {
  color: black;
  font-size: 36px;
  cursor: pointer;
}

.organizer-reg-title {
  font-weight: bold;
  font-size: 22px;
}

.organizer-reg-subtitle {
  font-size: 15px;
  margin-top: -10px;
}

.organizer-reg-personal-details {
  font-weight: 500;
  font-size: 18px;
  margin-top: 15px;
}

.input-fields-div {
  display: flex;
  flex-direction: column;
  gap: 2vh;
  margin-top: 1px;
}

.organizer-reg-next-button {
  border: 2px solid black;
  border-radius: 15px;
  background: transparent;
  color: black;
  font-family: "Playfair Display";
  font-weight: bold;
  font-size: 15px;
  transition: background-color 0.3s ease-in-out 0s;
  margin-top: 50px;
}

.organizer-reg-next-button:hover {
  background: black;
  color: white;
  border: 2px solid black;
}

.organizer-reg-next-button:focus {
  outline: none;
}

.organizer-reg-login-div {
  display: flex;
  gap: 5px;
  align-self: center;
}

.organizer-reg-already-have-account-text,
.organizer-reg-login-text {
  font-size: 14px;
}

.organizer-reg-login-text {
  font-weight: bold;
  cursor: pointer;
}

.organizer-reg-login-text:hover {
  text-decoration: underline;
}

.organizer-reg-right-section2 {
  display: flex;
  flex-direction: column;
  border-radius: 18px;
  border: 5px solid transparent;

  background:
    /* Layer 1 */
    linear-gradient(to right, #fecde2 30%, #ffb8f6 100%) padding-box,

    /* Layer 2 */
    linear-gradient(180deg, #E487B0 6%, #D2B7F2 18%, #A874DD 40%, #7E49F0 64%, #6FA0D6 100%) border-box;

  background-origin: border-box;
  background-clip: padding-box, border-box;

  padding-left: 40px;
  padding-right: 45px;
  padding-top: 0px;
  padding-bottom: 10px;
  margin-top: 5vh;
}

.address-city-div {
  display: flex;
  gap: 1.5vw;
}

.address-input {
  width: 130px;
}

.address-input-error {
  border-color: red;
  width: 130px;
}

.city-drop-down {
  width: 150px;
}

.city-drop-down-error {
  border-color: red;
  width: 150px;
}

.terms-and-condition-div {
  display: flex;
  align-items: center;
  cursor: pointer;
  user-select: none;
  margin-top: 10px;
  gap: 5px;
}

.terms-and-condition-checkbox {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
  pointer-events: none;
}

.terms-and-condition-custom-checkbox-visual {
  display: inline-block;
  width: 20px;
  height: 20px;
  border: 2px solid black;
  border-radius: 4px;
  margin-right: 8px;
  position: relative;
  transition: all 0.2s ease-in-out;
  box-sizing: border-box;
  flex-shrink: 0;
}

.checkbox-error {
  border-color: red;
}

.terms-and-condition-checkbox:checked+.terms-and-condition-custom-checkbox-visual {
  background-color: black;
  border-color: black;
}

.terms-and-condition-custom-checkbox-visual::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 2px 2px 0;
  transform: translate(-50%, -50%) rotate(45deg);
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}

.terms-and-condition-checkbox:checked+.terms-and-condition-custom-checkbox-visual::after {
  opacity: 1;
}

.terms-and-condition-text-div {
  width: 290px;
}

.terms-and-condition-text {
  font-size: 12px;
  font-weight: 500;
  color: #625D5D;
}

.terms-and-conditions-highlights {
  color: #544FBD;
  text-decoration: underline;
}

.organizer-reg-create-account-button {
  border: 2px solid black;
  border-radius: 15px;
  background: transparent;
  color: black;
  font-family: "Playfair Display";
  font-weight: bold;
  font-size: 15px;
  transition: background-color 0.3s ease-in-out 0s;
}

.organizer-reg-create-account-button:hover {
  background: black;
  color: white;
  border: 2px solid black;
}

.organizer-reg-create-account-button:focus {
  outline: none;
}

.chip-input-wrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.chip-container {
  display: flex;
  flex-wrap: wrap;
  gap: 6px;
  width: 300px;
}

.chip {
  background-color: black;
  padding-left: 15px;
  border-radius: 16px;
  display: flex;
  align-items: center;
  font-size: 12px;
}

.chip-close {
  margin-left: 0px;
  background: none;
  border: none;
  font-size: 16px;
  cursor: pointer;
}

@media screen and (max-width: 1300px) {
  .organizer-reg-main-window {
    padding-left: 5vw;
    gap: 5vw;
  }
}

@media screen and (max-width: 1175px) {
  .organizer-reg-main-window {
    padding-left: 0vw;
  }
}

@media screen and (max-width: 1125px) {
  .organizer-reg-main-window {
    gap: 0vw;
  }
}

@media screen and (max-width: 1060px) {
  .organizer-reg-img {
    display: none;
  }
  .organizer-reg-main-window {
    flex-direction: column;
    align-items: center;
    gap: 0;
    padding-bottom: 10vh;
  }
  .organizer-reg-left-section {
    margin-top: -10vh;
  }
  .organizer-reg-right-section {
    margin-top: -6vh;
    background:
    linear-gradient(to right, #faf4c9 8%, #ffb3fa 94%) padding-box,
    linear-gradient(180deg, #E487B0 6%, #D2B7F2 18%, #A874DD 40%, #7E49F0 64%, #6FA0D6 100%) border-box;
  }
  .organizer-reg-right-section2 {
    margin-top: -6vh;
    background:
    linear-gradient(to right, #faf4c9 8%, #ffb3fa 94%) padding-box,
    linear-gradient(180deg, #E487B0 6%, #D2B7F2 18%, #A874DD 40%, #7E49F0 64%, #6FA0D6 100%) border-box;
  }
}

@media screen and (max-width: 1060px) {
  .organizer-reg-right-section {
    margin-right: 10vw;
  }
  .organizer-reg-right-section2 {
    margin-right: 10vw;
  }
}

