input {
    border: 1px solid;
    border-radius: 10px;
    border-color: black;
    background-color: transparent;
    height: 28px;
    width: 200px;
    color: #6b6b6b;
    outline: none;
    padding-left: 15px;
    padding-top: 4px;
    padding-bottom: 2px;
}

.booking-form-main-div {
    display: flex;
    flex-direction: column;
}

.booking-form-img {
    position: relative;
    width: 100%;
    height: 250px;
    object-fit: cover;
    object-position: center;
    display: block;
    opacity: 0.41;
}

.booking-form-event-details-div {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 0;
}

.booking-form-close-btn {
    font-size: 40px;
    font-weight: lighter;
    cursor: pointer;
    margin-left: 38vw;
    margin-top: 0;
    margin-bottom: 0;
}

.booking-form-title-div {
    width: 250px;
}

.booking-form-title {
    font-size: 24px;
    font-weight: 700;
}

.booking-form-details-container {
    display: flex;
    gap: 15px;
}

.booking-form-icon-detail-div {
    display: flex;
    align-items: center;
    gap: 10px;
}

.booking-form-icon {
    height: 30px;
}

.booking-form-detail {
    font-weight: 600;
    font-size: 14px;
}

.booking-form-bottom-div {
    display: flex;
}

.booking-form-explorer-details-div {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.booking-form-btn-div {
    display: flex;
    flex-direction: column;
}