input {
    border: 1px solid;
    border-radius: 10px;
    border-color: black;
    background-color: transparent;
    height: 28px;
    width: 200px;
    color: #6b6b6b;
    outline: none;
    padding-left: 15px;
    padding-top: 4px;
    padding-bottom: 2px;
}

.booking-form-main-div {
    display: flex;
    flex-direction: column;
}

.booking-form-img {
    position: relative;
    width: 100%;
    height: 250px;
    object-fit: cover;
    object-position: center;
    display: block;
    opacity: 0.41;
}

.booking-form-event-details-div {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 0;
    padding-left: 20px;
}

.booking-form-close-btn {
    font-size: 40px;
    font-weight: lighter;
    cursor: pointer;
    margin-left: 37vw;
    margin-top: 0;
    margin-bottom: 0;
}

.booking-form-title-div {
    width: 250px;
}

.booking-form-title {
    font-size: 24px;
    font-weight: 700;
}

.booking-form-details-container {
    display: flex;
    gap: 15px;
}

.booking-form-icon-detail-div {
    display: flex;
    align-items: center;
    gap: 10px;
}

.booking-form-icon {
    height: 30px;
}

.booking-form-detail {
    font-weight: 600;
    font-size: 14px;
}

.booking-form-bottom-div {
    display: flex;
    gap: 5vw;
}

.booking-form-explorer-details-div {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.booking-form-btn-div {
    display: flex;
    flex-direction: column; 
    gap: 20vh;
}

.seat-selector {
    display: flex;
    align-items: center;
    gap: 10px;
    border: 1px black solid;
    border-radius: 10px;
    height: 35px;
}

.seat-input {
    width: 40px;
    text-align: center;
    font-size: 16px;
    border: none;
    padding-right: 60px;
    font-family: "Playfair Display";
    font-weight: 600;
    color: black;
    font-size: 20px;
    padding-bottom: 10px;
}

.plus-seat-btn,
.minus-seat-btn {
    font-size: 20px;
    cursor: pointer;
}

.plus-seat-btn {
    padding-right: 15px;
}

.minus-seat-btn {
    margin-top: 18px;
}

.seat-btn:focus,
.seat-btn:hover {
    border-color: white;
}

.seat-btn-divider {
    font-size: 14px;
    font-weight: 700;
}

.booking-form-button {
    border: 1px solid black;
    border-radius: 10px;
    background: transparent;
    color: black;
    font-family: "Playfair Display";
    font-weight: bold;
    font-size: 14px;
    transition: background-color 0.3s ease-in-out 0s;
    margin-left: 2vw;
}

.booking-form-button:hover {
    background-color: black;
    color: white;
    border: 1px solid black;
}