.home-about-slideshow-div {
  position: relative;
  width: 80vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}

.home-about-slide {
  display: none;
  align-items: center;
  gap: 130px;
  width: 100%;
  justify-content: center;
  position: absolute;
  top: 0;
  transition: opacity 0.5s ease;
}

.home-about-slide.active {
  display: flex;
  position: relative;
  opacity: 1;
}

.home-about-slideshow-text-div {
  display: flex;
  flex-direction: column;
}

.home-about-slideshow-title {
  font-size: 20px;
  font-weight: 600;
}

.home-about-slideshow-subtitle-wrapper {
  max-width: 30vw;
  width: 100%;
  word-wrap: break-word;
  overflow-wrap: break-word;
  line-height: 1.4;
}

.home-about-slideshow-img {
  width: 42.36vw;
  height: 27.08vw;
  object-fit: cover;
  object-position: center;
  border-radius: 8px;
  display: block;
}

/* Dots */
.home-about-dots {
  display: flex;
  justify-content: center;
  gap: 12px;
  margin-top: 40px;
}

.dot {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: transparent;
  border: 1px black solid;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.dot.active {
  background-color: black;
}

@media (max-width: 945px) {
  .home-about-slide.active {
    flex-direction: column;
    gap: 4vh;
  }

  .home-about-slideshow-title {
    margin-bottom: 0;
    text-align: center;
  }

  .home-about-slideshow-subtitle-wrapper {
    text-align: center;
    max-width: 60vw;
  }

  .home-about-slideshow-img {
    width: 70vw;
    height: 40vw;
  }
}