html,
body {
    margin: 0;
    padding: 0;
    width: 100vw;
    overflow-x: hidden;
    background-color: white;
}

.bookmarks-main-window {
    display: flex;
    flex-direction: column;
    width: 100vw;
}

.bookmarks-centre-div {
    display: flex;
    margin-top: 22vh;
    gap: 6vw;
    padding-bottom: 15vh;
}

.bookmarks-main-section {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-right: 10px;
}

.bookmarks-title {
    font-size: 22px;
    margin-top: 0;
    margin-bottom: 0;
}

.bookmarks-div {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 35px;
    padding: 20px 30px 0px 0px;
    width: 100%;
    box-sizing: border-box;
}

.bookmark-card {
    display: flex;
    flex-direction: column;
    padding: 30px;
    border-radius: 15px;
    border: 5px solid transparent;
    background:
        linear-gradient(white, white) padding-box,
        linear-gradient(180deg, #E487B0 6%, #D2B7F2 18%, #A874DD 40%, #7E49F0 64%, #6FA0D6 100%) border-box;
    background-origin: border-box;
    background-clip: padding-box, border-box;
    border-radius: 12px;
    transition: height 0.3s ease;
    height: 500px;
    cursor: pointer;
}

.bookmark-card-hover {
    display: flex;
    flex-direction: column;
    padding: 30px 30px 50px 30px;
    border-radius: 15px;
    border: 5px solid transparent;
    background:
        linear-gradient(white, white) padding-box,
        linear-gradient(180deg, #E487B0 6%, #D2B7F2 18%, #A874DD 40%, #7E49F0 64%, #6FA0D6 100%) border-box;
    background-origin: border-box;
    background-clip: padding-box, border-box;
    border-radius: 12px;
    transition: height 0.3s ease;
    height: 500px;
    cursor: pointer;
}

.bookmark-card-hover:hover {
    height: 570px;
}

.bookmark-img {
    width: 100%;
    height: 208px;
    object-fit: cover;
    object-position: center;
    border-radius: 8px;
    display: block;
}

.bookmark-title-bookmark-div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bookmark-title {
    font-weight: 600;
    font-size: 17px;
}

.bookmark-icon-detail-div {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-left: 7px;
}

.bookmark-detail-icon {
    height: 25px;
}

.bookmark-detail {
    color: #7A7A7A;
    font-weight: 600;
}

.bookmark-payment-div {
    display: flex;
    gap: 10px;
}

.paid,
.free {
    width: 87px;
    height: 25px;
    display: flex;
    justify-content: center;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 10px;
    font-weight: 600;
    margin-top: 10px;
}

.paid {
    background-color: #0062CD;
}

.free {
    background-color: #5CC750;
}

.limited-seats-text {
    color: red;
    font-size: 14px;
}

.bookmark-btn {
    opacity: 0;
    visibility: hidden;
    transform: translateY(10px);
    transition: opacity 0.3s ease, transform 0.3s ease, visibility 0.3s ease;
    font-family: "Playfair Display";
    border-radius: 15px;
    width: 215px;
    padding: 12px 0;
    margin-top: 25px;
    margin-left: 25px;
}

.bookmark-card-hover:hover .bookmark-btn {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}