html,
body {
    margin: 0;
    padding: 0;
    width: 100vw;
    overflow-x: hidden;
    background-color: white;
}

.explorer-profile-main-window {
    display: flex;
    flex-direction: column;
    width: 100vw;
}

.explorer-profile-centre {
    display: flex;
    margin-top: -80px;
    gap: 6vw;
    margin-top: 22vh;
    padding-bottom: 8vh;
}

.explorer-profile-div {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.explorer-profile-title-btn-div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.explorer-profile-title {
    font-size: 22px;
    margin-top: 0;
}

.explorer-profile-edit-btn {
    height: 40px;
    cursor: pointer;
}

.explorer-profile-img-details-div {
    display: flex;
    gap: 7vw;
    padding-left: 5vw;
}

.explorer-profile-img {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
}

.explorer-profile-details-div {
    display: flex;
    flex-direction: column;
}

.explorer-profile-detail-title {
    color: #666666;
    font-size: 18px;
}

.explorer-profile-address-city-div {
    display: flex;
    gap: 10vw;
}

.explorer-profile-name-number-div {
    display: flex;
    flex-direction: column;
}

@media (max-width: 1160px) {
    .explorer-profile-div {
        padding-left: 10vw;
    }
}

@media (max-width: 900px) {
    .explorer-profile-title-btn-div {
        justify-content: start;
        align-items: start;
        gap: 20px;
    }

    .explorer-profile-img-details-div {
        flex-direction: column;
        align-items: center;
        gap: 0vw;
        padding-left: 0;
        margin-left: 15vw;
    }

    .explorer-profile-name-number-div {
        flex-direction: row;
        gap: 215px;
    }

    .explorer-profile-address-city-div {
        gap: 215px;
    }
}

@media (max-width: 700px) {
    .explorer-profile-img-details-div {
        margin-left: 7vw;
    }
}

@media (max-width: 560px) {
    .explorer-profile-img-details-div {
        margin-left: -2vw;
    }
}