html,
body {
    margin: 0;
    padding: 0;
    width: 100vw;
    overflow-x: hidden;
    background-color: white;
}

.view-event-main-window {
    display: flex;
}

.view-event-main-div {
    display: flex;
    flex-direction: column;
    padding: 50px;
    margin-left: 250px;
    gap: 5vh;
}

.view-event-img {
    height: 55vh;
    width: 30vw;
    border-radius: 10px;
    object-fit: cover;
    object-position: center;
    margin-left: 25vw;
}

.view-event-title-edit-div {
    display: flex;
    gap: 1vw;
}

.view-event-title {
    font-size: 20px;
    margin-top: 0;
    margin-bottom: 0;
}

.view-event-edit-icon {
    height: 35px;
}

.video-container {
    position: relative;
    width: 100%;
    max-width: 640px;
    margin-left: 19vw;
}

.custom-video {
    width: 100%;
    height: 50vh;
    display: block;
}

.video-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.play-button {
    background-color: black;
    border: none;
    border-radius: 50%;
    font-size: 2rem;
    padding: 15px 20px;
    cursor: pointer;
}

.view-event-details-div {
    display: flex;
    gap: 10vw;
    padding-left: 30px;
}

.view-event-details {
    display: flex;
    flex-direction: column;
}

.view-event-detail-title {
    color: #666666;
    font-size: 18px;
}

.view-event-subtitle-div {
    width: 400px;
}

.view-event-ticket-details-div {
    display: flex;
    gap: 20px;
}

.view-event-ticket-detail-container {
    display: flex;
    flex-direction: column;
    padding-top: 30px;
    padding-bottom: 40px;
    padding-left: 30px;
    padding-right: 80px;
    border-radius: 10px;
    border: 2px solid transparent;
    background:
        linear-gradient(white, white) padding-box,
        linear-gradient(180deg, #E487B0 6%, #D2B7F2 18%, #A874DD 40%, #7E49F0 64%, #6FA0D6 100%) border-box;
    background-origin: border-box;
    background-clip: padding-box, border-box;
    gap: 10px;
}

.view-event-ticket-detail-container p {
    margin-top: 0;
    margin-bottom: 0;
}

.view-event-ticket-type {
    font-size: 18px;
}

.view-event-ticket-topic {
    color: #666666;
}

.view-event-ticket-quantity-icon-div {
    display: flex;
    align-items: center;
    gap: 7px;
}

.view-event-ticket-icon {
    height: 20px;
}

.view-event-ticket-details-div {
    display: flex;
    gap: 2vw;
    margin-top: 2vh;
}

.view-event-delete-btn {
    transition: background-color 0.3s ease;
    font-family: "Playfair Display";
    border-radius: 15px;
    width: 215px;
    padding: 12px 0;
    margin-top: 25px;
    margin-left: 40px;
    color: black;
    font-weight: 600;
    background-color: transparent;
    border: 2px red solid;
    margin-left: 30vw;
}

.view-event-delete-btn:hover {
    background-color: black;
    color: red;
    border: 2px black solid;
}

.view-event-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.67);
    z-index: 999;
}

.view-event-form-modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    background: white;
    padding: 2rem;
    border-radius: 10px;
    max-width: 600px;
    border: 2px black solid;
    border-radius: 20px;
    padding-bottom: 50px;
}

.view-event-delete-pop-up {
    display: flex;
    flex-direction: column;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 60px;
    padding-right: 60px;
    align-items: center;
    gap: 10px;
}

.view-event-delete-icon {
    height: 7vh;
}

.view-event-delete-title {
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 0;
}

.view-event-subtitle-div {
    width: 300px;
}

.view-event-subtitle-div p {
    text-align: center;
    font-weight: lighter;
}

.view-event-delete-pop-up-btns {
    display: flex;
    gap: 15px;
    margin-top: 20px;
}

.delete-pop-up-cancel-btn {
    border: 2px solid black;
    border-radius: 15px;
    background: transparent;
    color: black;
    font-family: "Playfair Display";
    font-weight: bold;
    font-size: 15px;
    width: 10vw;
}

.delete-pop-up-delete-btn {
    background-color: black;
    border-radius: 15px;
    color: white;
    font-family: "Playfair Display";
    font-weight: bold;
    font-size: 15px;
    width: 10vw;
}