.logo-div {
  width: 500px;
}

.logo-img {
  height: 480px;
}

.logo-catchphrase {
  color: #EC709A;
  font-size: 20px;
  font-weight: 700;
  margin-top: -230px;
  margin-left: 160px;
  font-family: "Playfair Display";
}