.material-symbols-outlined {
    font-size: 40px;
    color: black;
    margin-top: 5px;
}

.bookmark-icon {
    border-radius: 50%;
    transition: background-color 0.3s ease, color 0.3s ease;
    cursor: pointer;
    display: flex;
    justify-content: center;
    padding: 3px;
}

.bookmark-icon.active {
    background-color: black;
    color: white;
    height: 40px;
}