.home-cat-filter-main-div {
    display: flex;
    margin-left: 250px;
    margin-top: 50px;
}

.home-categories-scroll-wrapper {
    width: 950px;
    overflow-x: auto;
    padding-bottom: 10px;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.home-categories-scroll-wrapper::-webkit-scrollbar {
  display: none;            
}

.home-categories-div {
    display: flex;
    flex-wrap: nowrap;
    gap: 60px;
    flex: 0 0 auto;
}

.home_cat_filter_arrow {
    height: 100px;
}