.org-footer-main-div {
    display: flex;
    flex-direction: column;
    background-color: black;
    padding-left: 70px;
    padding-right: 100px;
    padding-bottom: 50px;
    border-radius: 20px;
    width: 62vw;
    margin-top: 10vh;
}

.org-footer-first-section {
    display: flex;
    justify-content: space-between;
    margin-right: 10px;
    align-items: center;
}

.org-footer-logo {
    height: 350px;
}

.org-footer-nav-details-div {
    display: flex;
    flex-direction: column;
    margin-bottom: 60px;
}

.org-footer-text1 {
    color: white;
    font-weight: lighter;
    cursor: pointer;
}

.org-footer-text2 {
    color: white;
    font-weight: lighter;
    font-size: 14px;
    margin-top: 0;
}

.org-footer-line-divider {
    height: 1px;
    background-color: white;
    width: 100%;
    margin-top: -110px;
}

.org-footer-second-section {
    display: flex;
    justify-content: space-between;
}

.org-footer-copyright {
    color: white;
    font-size: 14px;
    font-weight: lighter;
}

.org-footer-social-icon-div {
    display: flex;
    gap: 15px;
    margin-top: 15px;
}

.org-footer-social-icon {
    height: 30px;
}

@media (max-width: 1300px) {
    .org-footer-main-div {
        width: 57vw;
    }
}

@media (max-width: 1300px) {
    .org-footer-main-div {
        width: 55vw;
    }
}

@media (max-width: 1270px) {
    .org-footer-main-div {
        width: 50vw;
    }
}

@media (max-width: 950px) {
    .org-footer-main-div {
        width: 45vw;
    }
}

@media (max-width: 880px) {
    .org-footer-main-div {
        width: 65vw;
    }
}

@media (max-width: 670px) {
    .org-footer-main-div {
        width: 60vw;
    }
}

@media (max-width: 600px) {
    .org-footer-main-div {
        padding-left: 30px;
        padding-right: 90px;
    }
}