.search-result-main-div {
    display: flex;
    border-radius: 15px;
    border: 5px solid transparent;
    background:
        linear-gradient(white, white) padding-box,
        linear-gradient(180deg, #E487B0 6%, #D2B7F2 18%, #A874DD 40%, #7E49F0 64%, #6FA0D6 100%) border-box;
    background-origin: border-box;
    background-clip: padding-box, border-box;
    border-radius: 12px;
    gap: 25px;
    cursor: pointer;
}

.search-result-main-div-hover {
    display: flex;
    border-radius: 15px;
    border: 5px solid transparent;
    background:
        linear-gradient(white, white) padding-box,
        linear-gradient(180deg, #E487B0 6%, #D2B7F2 18%, #A874DD 40%, #7E49F0 64%, #6FA0D6 100%) border-box;
    background-origin: border-box;
    background-clip: padding-box, border-box;
    border-radius: 12px;
    gap: 25px;
    padding-right: 15px;
    height: 240px;
    transition: height 0.3s ease;
    cursor: pointer;
}

.search-result-main-div-hover:hover {
    height: 320px;
}

.search-result-img {
    display: block;
    width: 270px;
    height: 240px;
    object-fit: cover;
    object-position: center;
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
}

.search-result-details-div {
    display: flex;
    flex-direction: column;
    padding-bottom: 10px;
}

.search-result-details-first-layer {
    display: flex;
    gap: 25px;
}

.search-result-icon-detail-div {
    display: flex;
    align-items: center;
    gap: 10px;
}

.search-result-icon {
    height: 25px;
}

.search-result-detail {
    color: #7A7A7A;
    font-weight: 600;
    font-size: 14px;
}

.search-result-details-second-layer {
    display: flex;
    flex-direction: column;
}

.search-result-title {
    font-size: 18px;
    font-weight: 600;
    margin-top: 0;
    margin-bottom: 0;
}

.search-result-subtitle-div {
    width: 500px;
}

.search-result-subtitle {
    margin-top: 0;
    font-weight: lighter;
    font-size: 14px;
}

.search-result-payment-div {
    display: flex;
    gap: 10px;
}

.paid,
.free {
    width: 87px;
    height: 25px;
    display: flex;
    justify-content: center;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 10px;
    font-weight: 600;
    margin-top: 10px;
}

.paid {
    background-color: #0062CD;
}

.free {
    background-color: #5CC750;
}

.limited-seats-text {
    color: red;
    font-size: 14px;
}

.search-result-ticket-btn {
  opacity: 0;
  visibility: hidden;
  transform: translateY(10px);
  transition: opacity 0.3s ease, transform 0.3s ease, visibility 0.3s ease;
  font-family: "Playfair Display";
  border-radius: 15px;
  width: 215px;
  padding: 12px 0;
  margin-top: 25px;
  margin-left: 40px;
}

.search-result-main-div-hover:hover .search-result-ticket-btn {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

.material-symbols-outlined {
    font-size: 40px;
    color: black;
    margin-top: 5px;
}

.bookmark-icon {
    border-radius: 50%;
    transition: background-color 0.3s ease, color 0.3s ease;
    cursor: pointer;
    padding: 3px;
    
}

.bookmark-icon.active {
    background-color: black;
    color: white;
    height: 40px;
}

